<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CrossBrowserSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:54:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyEmiratesIdNumberOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyEmiratesIdNumberOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="e68d87">  <td>24/02/19 23:56:30</td>   <td>104121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PaymentTest@77b14724]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="e68d87">  <td>24/02/19 23:56:55</td>   <td>129446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentTest.verifyPaymentOptionText()[pri:0, instance:democrnace.webautomation.testcases.PaymentTest@77b14724]">verifyPaymentOptionText</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="b26c65">  <td>24/02/19 23:57:50</td>   <td>184361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentReferenceTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PaymentReferenceTest@1e8ce150]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:00:09</td>   <td>323608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TermsConditionsTest.verifyTermsAndConditionsCheckBox1IsSelected()[pri:2, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">verifyTermsAndConditionsCheckBox1IsSelected</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="b26c65">  <td>24/02/19 23:57:50</td>   <td>184361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentReferenceTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PaymentReferenceTest@1e8ce150]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:33</td>   <td>406764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TermsConditionsTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:01:03</td>   <td>377381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyFullName()[pri:3, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyFullName</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/19 23:59:23</td>   <td>277467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductsInformationTest.verifyDateOfBirthFieldIsEmpty()[pri:1, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">verifyDateOfBirthFieldIsEmpty</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:46</td>   <td>360421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductsInformationTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:11</td>   <td>205016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyPolicyEffectiveDateOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyPolicyEffectiveDateOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:43</td>   <td>357374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductsInformationTest.VerifySalaryRangeFiledIsSelected()[pri:3, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">VerifySalaryRangeFiledIsSelected</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/19 23:59:53</td>   <td>306767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TermsConditionsTest.verifyTermsAndConditionsTextVerification()[pri:1, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">verifyTermsAndConditionsTextVerification</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/19 23:53:13</td>   <td>-92950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductsInformationTest.VerifyPremiumPaymentOptionIsSelected()[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">VerifyPremiumPaymentOptionIsSelected</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:50</td>   <td>484121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyEmiratesId()[pri:7, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyEmiratesId</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:37</td>   <td>351344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductsInformationTest.VerifyEffectiveDateOfPolicyIsFilledWithCurrentDate()[pri:3, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">VerifyEffectiveDateOfPolicyIsFilledWithCurrentDate</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:33</td>   <td>226910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyPremiumPaymentOptionOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyPremiumPaymentOptionOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="bb99be">  <td>24/02/19 23:53:04</td>   <td>-101494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductTest.VerifyDownLoadPolicy()[pri:0, instance:democrnace.webautomation.testcases.ProductTest@4b6690c0]">VerifyDownLoadPolicy</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:54:01</td>   <td>-45189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyEmailAddressOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyEmailAddressOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/19 23:59:44</td>   <td>297857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyPolicyIssuanceAndPaymentTextVerification()[pri:1, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyPolicyIssuanceAndPaymentTextVerification</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:12</td>   <td>386490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TermsConditionsTest.verifyTermsAndConditionsCheckBox2IsSelected()[pri:3, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">verifyTermsAndConditionsCheckBox2IsSelected</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="b26c65">  <td>24/02/19 23:57:49</td>   <td>183727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentReferenceTest.verifyPaymentReferenceText()[pri:0, instance:democrnace.webautomation.testcases.PaymentReferenceTest@1e8ce150]">verifyPaymentReferenceText</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:40</td>   <td>354469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductsInformationTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:53:37</td>   <td>-68275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyDateOfBirthOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyDateOfBirthOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="b26c65">  <td>24/02/19 23:57:22</td>   <td>156639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentReferenceTest.verifyPaymentReference()[pri:0, instance:democrnace.webautomation.testcases.PaymentReferenceTest@1e8ce150]">verifyPaymentReference</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:24</td>   <td>398201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TermsConditionsTest.verifyBackToFormBtn()[pri:4, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">verifyBackToFormBtn</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="bb99be">  <td>24/02/19 23:56:25</td>   <td>99103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductTest.verifyPaymentOptionText()[pri:0, instance:democrnace.webautomation.testcases.ProductTest@4b6690c0]">verifyPaymentOptionText</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:40</td>   <td>354469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductsInformationTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:17</td>   <td>390968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TermsConditionsTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:55:33</td>   <td>46889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyMobileNumberOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyMobileNumberOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:33</td>   <td>406764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TermsConditionsTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:55:56</td>   <td>70051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyNationalityOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyNationalityOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:56</td>   <td>249860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifySalaryRangeOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifySalaryRangeOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:33</td>   <td>406764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TermsConditionsTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:01:50</td>   <td>424083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyNationality()[pri:4, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyNationality</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:54:23</td>   <td>-22517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyEmiratesIdExpiryDateOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyEmiratesIdExpiryDateOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:11</td>   <td>505293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyEmiratesExpiryDateField()[pri:8, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyEmiratesExpiryDateField</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:18</td>   <td>272240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyTitleOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyTitleOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:40</td>   <td>354469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductsInformationTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="bb99be">  <td>24/02/19 23:55:58</td>   <td>71817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.ProductTest@4b6690c0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:17</td>   <td>390968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TermsConditionsTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="bb99be">  <td>24/02/19 23:56:30</td>   <td>103795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.ProductTest@4b6690c0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:46</td>   <td>360421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductsInformationTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="b26c65">  <td>24/02/19 23:57:23</td>   <td>157725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentReferenceTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PaymentReferenceTest@1e8ce150]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:59:20</td>   <td>273936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SummaryPageTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:40</td>   <td>354469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductsInformationTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:28</td>   <td>462144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyMobileNumber()[pri:6, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyMobileNumber</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:17</td>   <td>390968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TermsConditionsTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="e68d87">  <td>24/02/19 23:56:56</td>   <td>130578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PaymentTest@77b14724]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:33</td>   <td>406764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TermsConditionsTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:55:10</td>   <td>24036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SummaryPageTest.verifyFullNameOnSummaryPage()[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">verifyFullNameOnSummaryPage</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:00:33</td>   <td>346831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyTitle()[pri:2, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyTitle</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ef74fe">  <td>24/02/20 00:01:17</td>   <td>390968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TermsConditionsTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.TermsConditionsTest@604f2bd2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:52</td>   <td>486330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PolicyIssuanceAndPaymentTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:02:09</td>   <td>443186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PolicyIssuanceAndPaymentTest.verifyEmailAddress()[pri:5, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">verifyEmailAddress</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="b26c65">  <td>24/02/19 23:57:23</td>   <td>157725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentReferenceTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.PaymentReferenceTest@1e8ce150]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:46</td>   <td>360421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductsInformationTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:40</td>   <td>354469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductsInformationTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:46</td>   <td>360421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductsInformationTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="af9b9a">  <td>24/02/19 23:58:58</td>   <td>251915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SummaryPageTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.SummaryPageTest@1cdc4c27]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/20 00:00:46</td>   <td>360421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductsInformationTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="ff7d8c">  <td>24/02/20 00:03:14</td>   <td>508175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PolicyIssuanceAndPaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PolicyIssuanceAndPaymentTest@5d9b7a8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="bb99be">  <td>24/02/19 23:55:58</td>   <td>71817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductTest.setUp(java.lang.String)[pri:0, instance:democrnace.webautomation.testcases.ProductTest@4b6690c0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="bb99be">  <td>24/02/19 23:56:30</td>   <td>103795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.ProductTest@4b6690c0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
<tr bgcolor="708b91">  <td>24/02/19 23:59:57</td>   <td>311494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductsInformationTest.VerifyDateOfBirthIsPrefilledWithExpectedDate()[pri:2, instance:democrnace.webautomation.testcases.ProductsInformationTest@1d3ac898]">VerifyDateOfBirthIsPrefilledWithExpectedDate</td> 
  <td>TestNG-tests-1@1890266440</td>   <td></td> </tr>
</table>
