<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f89ff">  <td>24/02/20 00:25:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentTest.setUp()[pri:0, instance:democrnace.webautomation.testcases.PaymentTest@2d29b4ee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@483797427</td>   <td></td> </tr>
<tr bgcolor="9f89ff">  <td>24/02/20 00:26:19</td>   <td>43036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentTest.verifyPaymentOptionText()[pri:0, instance:democrnace.webautomation.testcases.PaymentTest@2d29b4ee]">verifyPaymentOptionText</td> 
  <td>main@483797427</td>   <td></td> </tr>
<tr bgcolor="9f89ff">  <td>24/02/20 00:26:20</td>   <td>43957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentTest.tearDown()[pri:0, instance:democrnace.webautomation.testcases.PaymentTest@2d29b4ee]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@483797427</td>   <td></td> </tr>
</table>
